  html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: rgb(13, 0, 31);
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  section, aside {
    padding: 15px 20px;
    border-radius: 12px;
  }
  
   div {
    padding: 15px 15px;
    border-radius: 12px;
  }
  
  img {
    height: 500px;
    width: 500px;
  }
  
  ul {
    display: flex;
    list-style:none;
    justify-content: center;
    gap: 120px;
    /* padding: 0; */
    margin: 0;
  }
  
  li {
    background-color: #1f2937;
    padding: 10px 20px;
    border-radius: 15px;
  }
  
  a {
    color: #f9faf8;   
  }
  
  .flex-container{
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    justify-content: space-evenly;
    align-items: center;
  }

  h2 {
    display: flex;
    justify-content: center;
  }
  
  #container {
    display: flex;
    justify-content: center;
  }
  
  h1 {
    background-color: #1f2937;
    padding: 10px 20px;
    border-radius: 15px;
  }
  
  #second-container {
    display: flex;
    justify-content: center;
  }
  
  .sidebar, .main-content {
    background-color: #1f2937;
    margin: 15px 0px;
    border-radius: 15px;
  }
  